projectAGV/.vs/projectAGV/v15/.suo
projectAGV/Main/_vm/Compile.vmps.xml
projectAGV/Main/__vm/Compile.vmps.xml
projectAGV/Main/__vm/Configuration.Debug.vmps.xml
projectAGV/Main/__vm/*.vmps.xml
projectAGV/Main/Debug/*.hex
projectAGV/Main/Debug/*.elf
projectAGV/Main/Debug/*.o
projectAGV/Main/Debug/board.buildinfo
